# node modules
node_modules/

# next build output
.next/

# local env
.env
.env.local
.env.*

# macOS용
.DS_Store

# vscode 설정
.vscode/

# log files
*.log

# ML 모델 (용량 큼)
public/models/
desktop-app/venv/
desktop-app/*.onnx

# 영상 파일
*.mp4
*.avi
*.mov
*.mkv

# 테스트 파일
public/video-test.html
.vercel
.env*.local
